In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/raw/Chocolate-Sales.csv')

In [5]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [6]:
#remove $ and , from Amount and convert to float
df['Amount'] = df['Amount'].str.replace('$', '').str.replace(',', '').astype(float)

In [7]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [8]:
df.to_csv('../data/processed/chocolate_sales.csv', index=False)